<div>
    <nav class="navbar navbar-default navbar-busy">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <router-link class="navbar-brand" :to="{ name: 'home.index' }">_busy</router-link>
            </div>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="nav-item-busy" href="#" @click.prevent="logout"><i class="fa fa-power-off" aria-hidden="true"></i></a></li>
                </ul>

                <ul id="navAboutLink" class="nav navbar-nav navbar-right">
                    <router-link :to="{ name: 'about.index' }" active-class="busy-active" class="nav-item nav-item-busy" tag="li"><a>About</a></router-link>
                </ul>

                <ul id="navListLink" class="nav navbar-nav navbar-right">
                    <router-link :to="{ name: 'home.index' }" active-class="busy-active" class="nav-item nav-item-busy" tag="li"><a>Lists</a></router-link>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- equiv to UI-view-->
                <slot id="mainContent"></slot>
            </div>
        </div>
    </div>
</div>
