/* ============
 * Main Stylesheet
 * ============
 *
 * Used for the global application styling.
 *
 * The stylus CSS-preprocessor is used for this boilerplate.
 * If you don't want to use Stylus, that's fine!
 * Replace the stylus directory with the CSS preprocessor you want.
 * Require the stylesheet in the bootstrap.js file & install the webpack loader.
 *
 * It's that easy...
 *
 * http://stylus-lang.com/
 */
.padding-left
  padding-left: 8px

/*Home styles*/
.list-container {
    margin-top:15px;
}

.daily-to-do-item, .weekly-to-do-item {
    border: 1px solid #434343;
    height: 40px;
    margin-bottom: 10px;
}

.item-text{
    float: left;
}

.item-delete{
    float: right;
}

/*End home styles*/
