/*Global styles*/
 @font-face {
   font-family: 'A';
   src: url('../fonts/A.otf');
 }

 body {
     font-family: A;
 }
.padding-left
  padding-left: 8px

/*End global styles*/

/*Home styles*/
.list-container {
    margin-top:35px;
}

.list-header-busy {
    font-size: 18px;
}

.list-input-busy {
    padding-top:10px;
    padding-left: 4px;
    padding-right: 20px;
    padding-bottom: 4px;
    border:none;
    border-bottom: 1px solid #DCDCDC;
    outline: none;
    width: 100%;
    font-size: 24px;
}

.list-input-busy::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(67,67,67,0.1);
  font-style: italic;
}

.list-input-busy::-moz-placeholder { /* Firefox 19+ */
  color: rgba(67,67,67,0.1);
  font-style: italic;
}

.list-input-busy:-ms-input-placeholder { /* IE 10+ */
  color: rgba(67,67,67,0.1);
  font-style: italic;
}

.list-input-busy:-moz-placeholder { /* Firefox 18- */
  color: rgba(67,67,67,0.1);
  font-style: italic;
}

.daily-to-do-item, .weekly-to-do-item {
    border: none;
    border-bottom: 1px solid #DCDCDC;
    height: 40px;
    margin-bottom: 40px;
}

.item-text{
    float: left;
}

.item-delete{
    float: right;
}

/*End home styles*/


/*Layout styles*/

.navbar-busy{
    background-color:#FFF !important;
    border-bottom:none;
    margin-bottom: 20px;
}

.nav-item-busy{
    font-size:12px;
    padding-bottom:0px;
}


.busy-active {
    border-bottom:solid 4px #434343;
    border-left:solid 3px #FFF;
    /*border-right:solid 2px #FFF;*/

}

/* end layout styles */
